<!-- fragment.html -->


<tbody th:fragment="table-content" xmlns:th="http://www.w3.org/1999/xhtml">
    <tr th:each="item, itemIndex : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.title}" th:id="${itemIndex.index} + 'title'"></td>
        <td th:text="${item.task}" th:id="${itemIndex.index} + 'task'"></td>
        <td th:text="${#temporals.format(item.created, 'dd MMM yyyy HH:mm')}"></td>
        <td th:text="${item.adjusted == null} ? '' : ${#temporals.format(item.adjusted, 'dd MMM yyyy HH:mm')}"></td>
        <td>
            <button th:attr="onclick='deleteItem(' + ${item.id} + ')'" type="button">Delete</button>
            <button th:attr="onclick='initializeFormForPut(' + ${item.id} + ',' + ${itemIndex.index} + ')'" type="button">Edit</button> <!--   DELETE th:id AFTER -->
        </td>
    </tr>
</tbody>

