<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        /* Modal background overlay */
        .modal-overlay {
          display: none; /* Hidden by default */
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
          justify-content: center;
          align-items: center;
          z-index: 1;
        }

        /* Modal content */
        .modal-content {
          background-color: #fff;
          padding: 20px;
          width: 100%;
          max-width: 400px;
          border-radius: 8px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        }

        /* Close button */
        .close-button {
          float: right;
          font-size: 20px;
          font-weight: bold;
          cursor: pointer;
        }

        /* Button to open the modal */
        .open-modal-button {
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
        }
    </style>
    <title>Todo list</title>
    <script th:src="@{/js/script.js}" ></script>
    <script>

        let httpRequest;
        let adjustedItemId;

        const PUT = 'PUT';
        const POST = 'POST';

        function addItem() {


            const url = window.location.href; //change name "url" to something better

            const title = document.getElementById('title').value;
            const task = document.getElementById('task').value;

            const errorElement = document.getElementById("error");
            let messages = [];

            if (title === '' ) {
                messages.push("Title is required");
                console.log("title empt");
            }
            if (task === '') {
                messages.push("Task is required");
            }

            if (messages.length == 0) {
                const formData = {
                    title: title,
                    task: task
                };

                fetch(url, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(formData)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok " + response.statusText);
                    } else {
                        console.log("item added");
                        location.reload();
                    }
                })
            } else {

                errorElement.innerText = messages.join(',');
            }
        }

        function openModal() {
            document.getElementById("modal").style.display = "flex";
        }

        function initializeFormForPut(clickedItemId, itemIndex) {

                httpRequest = PUT;
                adjustedItemId = clickedItemId;

                const currTitleText = document.getElementById(itemIndex +"title").textContent;
                const currTaskText = document.getElementById(itemIndex +"task").textContent;

                document.getElementById('title').value =currTitleText;
                document.getElementById('task').value= currTaskText;

                openModal();
        }

        function initializeFormForPOST() {
                httpRequest = POST;
                openModal();
        }



        // Function to close the modal
        function closeModal() {
            deleteFormText();
            deleteErrorMessages();
            document.getElementById("modal").style.display = "none";
        }

        // Close the modal if the user clicks outside of it
        window.onclick = function(event) {
          var modal = document.getElementById("modal");
          if (event.target === modal) {
            closeModal();
          }
        }

        deleteErrorMessages() {
            const errorElement = document.getElementById("error");
            errorElement.innerText ='';
        }


        function adjustItem(id) {

            const url = window.location.href; //change name "url" to something better

            //check of empty values
            const title = document.getElementById('title').value;
            const task = document.getElementById('task').value;

            //const currTitleText = document.getElementById(itemIndex +"title").textContent;
            //const currTaskText = document.getElementById(itemIndex +"task").textContent;

            //document.getElementById('title').value =currTitleText;
            //document.getElementById('task').value= currTaskText;

            //ADD CHECK FOR EMPTY TASK AND TITLE VALUES AND THAT BOTH VALUES ARE THE SAME (IN OTHER NO ACTUALA CHANGE WAS DONE)

            if ( title !== '' && task !== '') {
                const formData = {
                    id: id,
                    title: title,
                    task: task
                };

                fetch(url, {
                    method: 'PUT',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(formData)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok " + response.statusText);
                    } else {
                        console.log("item adjusted");
                        location.reload();
                    }
                })
            }
        }

        function deleteFormText() {
            document.getElementById('title').value ='';
            document.getElementById('task').value= '';
        }

        function formButtonClicked() {
            if (httpRequest == 'PUT') {
                adjustItem(adjustedItemId);
            } else if (httpRequest == 'POST') {
                addItem();
            }
        }



    </script>


    <link rel="stylesheet"  th:href="@{/css/styles.css}" type="text/css">
</head>
<body>
<h1>TODO LIST</h1>
<table>
    <thead>
    <tr> <!-- Could this be also done by thymeleaf dynamically-->
        <th>ID</th>
        <th>TITLE</th>
        <th>TASK</th>
        <th>CREATED</th>
        <th>ADJUSTED</th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item, itemIndex : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.title}" th:id="${itemIndex.index} + 'title'"></td>
        <td th:text="${item.task}" th:id="${itemIndex.index} + 'task'"></td>
        <td th:text="${#temporals.format(item.created, 'dd MMM yyyy HH:mm')}"></td>
        <td th:text="${item.adjusted == null} ? '' : ${#temporals.format(item.adjusted, 'dd MMM yyyy HH:mm')}"></td>
        <td>
            <button th:attr="onclick='deleteItem(' + ${item.id} + ')'" type="button">Delete</button>
            <button th:attr="onclick='initializeFormForPut(' + ${item.id} + ',' + ${itemIndex.index} + ')'" type="button">Edit</button> <!--   DELETE th:id AFTER -->
        </td>
    </tr>
    </tbody>
</table>

<!-- Button to open the modal -->
<button class="open-modal-button" onclick="initializeFormForPOST()">Add new item</button>

<!-- Modal overlay with form -->
<div id="modal" class="modal-overlay">
    <div class="modal-content">
        <!-- Close button inside the modal -->
        <span class="close-button" onclick="closeModal()">&times;</span>
        <div id="error"></div>
        <h3>Submit Your Information</h3>
        <form>

            <label for="title">title:</label>
            <input maxlength="20" placeholder="Enter up to 20 characters" type="text" id="title" name="title" required >
            <br><br>

            <label for="task">task:</label>
            <input type="text" id="task" name="task" required>
            <br><br>

            <button onclick="formButtonClicked()" type="button" id="formButton">submit</button>
        </form>
    </div>
</div>

</body>
</html>
