<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Todo list</title>
    <script th:src="@{/js/script.js}" ></script>
    <link rel="stylesheet"  th:href="@{/css/styles.css}" type="text/css">

</head>
<body>
    <h1>TODO LIST</h1>
    <table id="item-table" th:fragment="table" xmlns:th="http://www.w3.org/1999/xhtml">
        <thead>
        <tr> <!-- Could this be also done by thymeleaf dynamically-->
            <th>ID</th>
            <th>TITLE</th>
            <th>TASK</th>
            <th>CREATED</th>
            <th>ADJUSTED</th>
            <th> </th>
        </tr>
        </thead>
        <div th:insert="~{fragment :: table-content}"></div>

    </table>


    <!-- Button to open the modal -->
    <button class="open-modal-button" onclick="initializeFormForPOST()">Add new item</button>

    <!-- Modal overlay with form -->
    <div id="modal" class="modal-overlay">
        <div class="modal-content">
            <!-- Close button inside the modal -->
            <span class="close-button" onclick="closeModal()">&times;</span>
            <div id="error"></div>
            <h3>Submit Your Information</h3>
            <form>

                <label for="title">title:</label>
                <input maxlength="25" placeholder="Enter up to 20 characters" type="text" id="title" name="title" >
                <br><br>

                <label for="task">task:</label>
                <textarea id="task" name="task" rows="4" cols="50" maxlength="500"></textarea>
                <br><br>

                <button onclick="formButtonClicked()" type="button" id="formButton">submit</button>
            </form>
        </div>
    </div>

</body>
</html>
